@using System.Collections.Specialized
@{
    ViewBag.Title = "Profile";

    NameValueCollection tmp = (NameValueCollection)ViewBag.profile;
}
<script type="text/javascript">
    var userId = '@(User.Identity.Name)';
    var token = '@(ViewBag.token)';
    var chats = [];
    var currentChatNum = 0;
    loadChatHistory();
    $(document).ready(function () {
        $('#rangeSlider').slider(
            {
                max: '@(tmp["isPremium"] == "true" ? 5000 : 200)'
            }
        );

        
    });

    function randomChat() {
        var sliderValue = $('#rangeSlider').val();
        var gender = null;
        try {
            gender = $('#genderSelect').val();
            if (gender == undefined)
                gender = null;
        } catch (e) {

        }
        var url = "/Foursquare/RandomChat/?radius=" + sliderValue;
        if (gender != null)
            url += "&gender=" + gender;
        window.location.replace(url);
    }
    
    function loadChatHistory() {
        var url = '/api/chatlist/getchats/?userId=' + userId + '&token=' + token;
        $.getJSON(url, function (data) {
            chats = data;
            fillChats(10);
        });
    }
    
    function fillChats(nextChatsNumber) {
        for (var i = currentChatNum; i < chats.length && i < currentChatNum + nextChatsNumber; ++i) {
           $('#chatHistory').append('<a class="btn btn-success" href="/Foursquare/Chat/' +
                chats[i] + '">' + chats[i] + '</a>');
        }
        currentChatNum = Math.min(currentChatNum + nextChatsNumber, chats.length);
        if (currentChatNum == chats.length)
            $('#loadMoreButton').hide();
    }

</script>
<div id="profile-wrapper" align="center">
    <table width="60%">
        <tr>
            <td valign="top" align="right" width="110px">
                @{
                    <div style="padding-right: 35px" align="left">
                        <img src="@tmp["Photo"]" width="100px" height="100px"/>
                        <h4>@tmp["firstname"] @tmp["lastname"]</h4>
                    </div>
                }

            </td>
            <td valign="top" align="left" style="padding: 0px">
                @{

                    <table style="margin: 0px">
                        <tr>
                            <td>@("City: ")</td>
                            <td><i>@tmp["homecity"]</i></td>
                        </tr>
                        <tr>
                            <td>@("Sex: ") </td>
                            <td><i>@tmp["gender"]</i><br />
                            </td>
                        </tr>
                        <tr>
                            <td>@("Score: ")</td>
                            <td><i>@tmp["scoremax"]</i> (* Maximum checkin score all over user history)<br />
                            </td>
                        </tr>
                    </table>
                }

                <br />
                <a href="~/Foursquare/ChatList" class="btn btn-success" style="color: #fff">Your Chat History</a>
                <a href="~/Foursquare/NearbyUsers" class="btn btn-success" style="color: #fff">Start new Chat!</a>
                <a href="#" class="btn btn-success" style="color: #fff" onclick="randomChat()">Random chat</a>

            </td>

        </tr>
    </table>

    <div id="randomChatParams">
        <input id="rangeSlider" type="text" class="span2" value="" data-slider-min="50"
               data-slider-step="1" data-slider-value="50"
               data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show">

        @{
            if (tmp["isPremium"] == "true")
            {
                <select id="genderSelect">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            }
        }

    </div>
    <div id="chatHistory">
        
    </div>
    <button id="loadMoreButton" class="btn btn-success" onclick="fillChats(10)">Load more</button>
</div>

