<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrapcss")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Content/bootstrap")
        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="~/Content/logo.png" style="margin-top: -10px" align="middle"/>@Html.ActionLink("4sqChat", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <li>@Html.ActionLink("Home", "Index", "Foursquare")</li>
                                    <li>@Html.ActionLink("Chat History", "ChatList", "Foursquare")</li>
                                    <li>@Html.ActionLink("Nearby Venues", "NearbyVenues", "Foursquare")</li>
                                    <li>@Html.ActionLink("Friends", "Friends", "Foursquare")</li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
