@using System.Collections.Specialized
@using _4sqChat.Logic
@{
    ViewBag.Title = "NearbyVenues";
    
}

<h2 style="color:#444; font-size: 14pt;margin-left: 100px; width:200px; border-bottom: 1px solid #aaa">NearbyVenues</h2>

<div id="chat" style="font-size: 10pt;">
@{
    List<FoursquareOAuth.Venue> venues = (List<FoursquareOAuth.Venue>)ViewBag.venues;
    if (venues != null)
    {

        foreach (FoursquareOAuth.Venue venue in venues)
        {
           <span style="font-size: 12pt;color: #222;"> @(venue.Name)</span>
            <div style="color:#555; padding-left: 10px;">
                Contacts: @(venue.Contact) 
                <br>
                Address: @(venue.address)
                <br>
                Category: @(venue.category)  
                <br>
            </div>
    <br>
        }
    }
    else
    {
      @Html.Label("Please first check in via native App or Foursquare web site right : ");
    <a href="http://foursquare.com">Here</a>
    }
}
    </div>
