@using System.Collections.Specialized
@{
    ViewBag.Title = "NearbyVenues";
    
}

<h2>NearbyVenues</h2>

@{
    List<NameValueCollection> venues = (List<NameValueCollection>) ViewBag.venues;
    if (venues != null)
    {

        foreach (NameValueCollection venue in venues)
        {
            @Html.Label(venue["name"])
            ;
                <br/>
            @Html.Label(venue["contact"]);
                <br/>
            @Html.Label(venue["contact"]); 
               <br/>
            @Html.Label(venue["address"]);
                <br/>
            @Html.Label(venue["cat"]);  
              <br/>
        }
    }
    else
    {
      @Html.Label("Please first check in via native App or Foursquare web site right : ");
    <a href="http://foursquare.com">Here</a>
    }
}
